<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Sharing App</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sharing App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>File Sharing App</h1>
        <h3>Developed by : @Vilochana_Rajapaksha</h3>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" title="Select your File">
            <input type="submit" value="Upload" title="Upload your file">
        </form>
        <h2>Files:</h2>
        <ul>
            {% for file in files %}
                <li>
                    <a href="{{ url_for('uploaded_file', filename=file) }}">{{ file }}</a>
                    <form action="{{url_for('delete_file', filename=file)}}" method="post">
                        <button type="submit" class="deletebtn">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>

</body>
</html>